/* === Reseet start  === */
*:focus {
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font: 300 14px/1 'Roboto', sans-serif;
    background-color: #4a454b;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: white;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    resize: vertical;
}
blockquote {
    margin: 0;
}

/* === Reseet end  === */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.color-black {
    color: #242424;
}

.bg-grey {
    background-color: #373737;
}

.bg-light-grey {
    background-color: #4b4d4f;
}

.wc-text {
    margin-top: 30px;
    font-size: 1em;
}

.heading {
    font-weight: 900;
    font-size: 3.6em;
}

.container {
    max-width: 1040px;
    margin: auto;
    padding: 0 15px;
}

.swag-btn {
    padding: 1em 1.66em;
    background-color: #90d23d;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border-radius: .7em;
    transition: background-color .2s linear;
}

.swag-btn:hover:not(.view-more) {
    background-color: #fff;
    color: #90d23d;
    border-color: #90d23d;
}


/* ===== Header styles ===== */
header {
    margin-top: 45px;
    position: relative;
    background-color: #4a454b;
}

header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.fixed {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    margin-top: 0;
    padding: 10px 0;
}

.logo {
    display: flex;
}

.logo img {
    margin-right: 15px;
}

.logo-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-right-text {
    color: #82b541;
    letter-spacing: 0.25em;
    font: 400 18px 'RobotoSlab', sans-serif;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    text-transform: uppercase;
}

.list-item {
    color: #ffffff;
    font: 100 15px/1 'Roboto', sans-serif;
    position: relative;
}

.nav ul li + li {
    margin-left: 45px;
}

.list-item:after {
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .2s linear;
}

.list-item:hover:after {
    width: 100%;
}

/* ===== Header styles end ===== */

/* ===== Clock styles ===== */
.clock {
    height: 200px;
    width: 100%;
    max-width: 970px;
    border: 2px solid #90d23d;
    border-radius: 8px;
    margin: 125px auto 120px auto;
}

.countdown {
    font-family: 'Roboto Slab', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 130px;
}

.countdown-number {
    padding: 0 10px;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
    
}
/* ===== Clock styles end ===== */

.white-container {
    background-color: white;
    transform: skewY(-4deg);
}


/* ===== Welcome styles ===== */
.welcome .container {
    transform: skewY(4deg);
}

.welcome {
    padding: 120px 0 160px 0;
    z-index: 10;
    position: relative;
}

.welcome-guys .guy-1 {
    position: relative;
    z-index: 6;
}

.welcome-guys .guy-2 {
    z-index: 5;
    left: 80px;
    top: 50px;
}

.welcome-guys .guy-3 {
    z-index: 4;
    left: 55px;
    top: 40px;
}

.welcome-guys .guy-4 {
    z-index: 3;
    left: 12px;
    top: 35px;  
}

.welcome-guys .guy-5 {
    z-index: 2;
    left: -41px;
    top: 30px;
}

.welcome-guys .guy-2, .guy-3, .guy-4, .guy-5 {
    display: inline-block;
    position: relative;
}

.greating {
    width: 50%;
    margin-right: 70px;
}

.welcome-guys .guy-1 img {
    position: absolute;
    top: 63px;
    left: -50px;
}

.welcome-inner {
    display: flex;
}

.welcome-card {
    width: 430px;
    margin-top: -292px;
    border: 1px solid #dbdada;
    padding: 35px 30px 25px;
    background-color: #fff;
    text-align: center;
}

.welcome-card-text {
    font-weight: 700;
    font-size: 30px;
}

.control {
    width: 100%;
    border: 1px solid #bebebe;
    border-radius: 8px;
    font-weight: 300;
    font-size: 19px;
    padding: 18px 15px;
    margin-top: 15px;
   
}

.welcome-form .control:first-child {
    margin-top: 20px;
}

.welcome-form .submit-btn {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    border: 2px solid #90d23d;
}

.control:focus {
    border-color: #82b541;
    border-width: 2px;
}

.stuff-list {
    display: flex;
    justify-content: space-between;
    margin: 120px 0 105px 0;
}

.stuff-list li {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 25%;
}


.stuff-list li img {
    margin-bottom: 40px;
    
}

.stuff-list li span {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 40px;
    border-collapse: collapse;
}

table .first {
    background-color: #90d23d;
    font-weight: 900;
    font-size: 30px;
}

table td {
    color: white;
    padding: 30px 0;
}

table .second, .third, .fourth, .fifth {
    font-weight: 400;
    font-size: 22px;
}

table .first td:first-child {
    width: 25%;
}

table .first td:nth-child(3) {
    width: 10%;
}

.welcome .info {
    width: 80%;
    margin: auto;
}

/* ===== Welcome styles end ===== */


/* ===== Elites styles ===== */
.elites {
    padding-top: 120px;
    padding-bottom: 110px;
    color: white;
}

.elites-wrap {
    position: relative;
}

.elites p {
    margin-top: 35px;
    margin-bottom: 35px;
}

.elites-text {
    width: 66%;
    margin: auto 0 60px auto;

}

.elite-logo {
    position: absolute;
    left: 0;
    top: -230px;
    border-radius: 50%;
    box-shadow: 3px 8px 5px 1px rgba(0, 0, 0, .75);
    z-index: 10;
}
/* ===== Elites styles end ===== */

/* ===== Speakers styles ===== */
.speakers {
    padding: 160px 0;
}

.speakers .container {
    transform: skewY(4deg);
}

.speakers-intro {
    width: 60%;
    margin-bottom: 45px;
}

.speakers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 -15px;
}

.speakers-list-item {
    width: 33.33333%;
    padding: 15px 15px;
    position: relative;
}

.speakers-list-item img {
    width: 100%;
    display: block;
    height: auto;
}

.covered {
    position: relative;
}

.hov {
    opacity: 100;
}

.covered-content {
    position: absolute;
    opacity: 0;
    transition: opasity 2s linear;
    background: url('../img/speaker-2.png') no-repeat;
    background-size: cover;
    width: 91%;
    height: 91%;
    padding: 30px;
}

.covered-content {
    position: absolute;
    top: 16px;
    left: 16px;
}

.covered-content:hover,
.covered-content:active {
    opacity: 100;
}


.covered-content .name {
    font-size: 45px;
    color: white;
    font-weight: 900;   
    line-height: 43px;
}

.line {
    margin: 10px 0 15px 0;
    height: 4px;
    background-color: white;
    width: 30%;
}


.covered-content .more {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.social-networks-item {
    display: inline-block;
    margin-top: 55px; 
}

.social-networks .social-networks-item + .social-networks-item {
    margin-left: 5px;
}
/* ===== Speakers styles end ===== */

/* ===== Sponsors styles ===== */
.our-sponsors {
    padding: 100px 0 100px; 
  
}

.our-sponsors .heading {
    color: white;
}

.our-sponsors .text {
    color: white;
    margin-top: 25px;
}

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 80px 0;
}

.sponsors .sponsors-item + .sponsors-item {
    margin-left: 85px;;
}

.our-sponsors .swag-btn {
    font-size: 22px;
    padding: 15px 40px;
}
/* ===== Header styles end ===== */

/* ===== Past-events styles ===== */
.past-events {
    padding: 175px 0 105px 0;
}

.past-events .container {
    transform: skewY(4deg);
}

.past-events-intro {
    width: 60%;
}

.past-events-photo {
    margin-top: 105px;
}

.past-events-photo img:first-child {
    width: 57%;
}

.past-events-photo img:nth-child(2) {
    width: 43%;
}

.past-events-photo img:nth-child(3) {
    width: 43%;
}

.past-events-photo img:last-child {
    width: 57%;
}

.past-events .view-more {
    display: block;
    margin: 100px auto 0 auto;
    background-color: #373737;
    font-size: 22px;
}
/* ===== Past-events styles end ===== */

/* ===== Contacts styles ===== */
.contacts {
    padding: 100px 0 100px; 
}

.contacts-heading {
    color: white;
    margin-bottom: 25px;
    display: block;
}

.contacts-form {
    width: 400px;
    margin: auto;
}

.сontacts-btn {
    margin-top: 25px;
}
/* ===== Contacts styles end ===== */

/* ===== Footer styles ===== */
.footer {
    padding: 55px 0 35px 0;
    background-color: #90d23d;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu .footer-menu-item + .footer-menu-item {
    margin-left: 15px;
}

.footer-menu-item {
    transition: transform .2s linear;
}

.footer-menu-item:hover {
    transform: translateY(-5px);
}

.footer-info {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}
/* ===== Footer styles end ===== */
.arrow-up {
    position: fixed;
    bottom: 10%;
    right: 5%;
    font-size: 50px;
    z-index: 11;
}

.arrow-up i {
    color: #242424;
}
   


.burger {
    display: none;
    cursor: pointer;
    padding: 0;
}

.burger-item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    position: relative
}

.burger-item::before,
.burger-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.burger-item::before {
    top: -8px;
}

.burger-item::after {
    bottom: -8px;
}

.speaker {
    position: relative;
}

.covered-content.hover {
    position: absolute;
}

@media (max-width: 1199px) {
    .arrow-up {
        display: none;
    }
}

@media (max-width: 991px) {
    .header .nav {
        display: none;
    }

    .nav.show {
        display: flex;
    }

    .header-list {
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: -126px;
        background-color:rgba(0, 0, 0, .5);
        width: 100%;
        text-align: right;
        padding: 10px;
        z-index: 1;
    }

    .list-item {
        padding: 5px;
    }

    .list-item:hover {
        color: #90d23d;
    }

    .list-item:hover:after {
        width: 0;
    }

    .burger {
        display: block;
    }

    .clock {
        max-width: 870px;
    }

    .welcome-card {
        margin-left: 0;
        width: 380px;
    }

    .welcome-form .submit-btn {
        font-size: 18px;
    }

    .countdown {
        font-size: 100px;
    }

    .covered-content {
        padding: 20px;
    }

    .covered-content .name {
        font-size: 30px;
        line-height: 1;
    }

    .covered-content .more {
        font-size: 16px;
    }

    .social-networks-item {
        margin-top: 35px;
    }
}

@media (max-width: 767px) {

    .countdown-number {
        padding: 0;
    }
    .countdown-time {
        font-size: 75px;
        line-height: 1;
    }

    .social-networks-item {
        margin-top: 20px;
    }

    .welcome-inner {
        flex-direction: column;
    }
    
    .greating {
        width: 100%;
        text-align: center;
    }

    .welcome-card {
        margin-top: 20px;
        width: 100%;
    }

    .elites-wrap {
        text-align: center;
    }

    .elites-text {
        width: 100%;
    }

    .elite-logo {
        width: 30%;
    }

    .speakers-intro {
        width: 100%;
        text-align: center;
    }

    .past-events-intro {
        width: 100%;
        text-align: center;
    }

    .past-events-photo {
        margin-top: 70px;
    }

    .clock {
        height: 170px;
    }

    .guy-5 {
        display: none;
    }

    .covered-content {
        padding: 15px;
        width: 87%;
        height: 87%
    }

    .covered-content .more {
        font-size: 14px;
    }

    .social-networks-item {
        width: 15%;
    }
}

@media (max-width: 675px) {
    .covered-content {
        width: 85%;
        height: 85%;
    }

    .covered-content .name {
        font-size: 22px;
    }

    .covered-content .more {
        font-size: 11px;
    }
}

@media (max-width: 586px) {

    .countdown-time {
        font-size: 60px;
        line-height: 1;
    }


    .countdown-time {
        padding: 0;
        font-size: 30px;
    }

    .stuff-list {
        flex-direction: column;
        margin-top: 105px;
    }

    .stuff-list li {
        max-width: 100%;
    }

    .stuff-text {
        font-size: 16px;
    }

    .stuff-list li + li {
        margin-top: 20px;
    }

    table .first {
        font-size: 25px;
    }

    table .second, .third, .fourth, .fifth {
        font-size: 14px;
    }

    .line {
        margin: 4px 0;
    }

    .social-networks-item {
        width: 17%;
        margin-top: 10px;
    }

    .covered-content {
        width: 83%;
        height: 83%;
    }

    .covered-content .name {
        font-size: 20px;
    }

    .covered-content .more {
        font-size:  9px;
    }
}

@media (max-width: 521px) {
    .guy-4 {
        display: none; 
    }

    .countdown-time {
        padding: 0;
        font-size: 30px;
    }


    .heading {
        font-size: 2.6em;
    }

    table .first {
        font-size: 20px;
    }

    table .second, .third, .fourth, .fifth {
        font-size: 12px;
    }

    .elite-logo {
        top: -153px;
    }

    .speakers-list-item {
        padding: 10px; 
    }

    .line {
        height: 2px;
    }

    .social-networks-item {
        width: 15%;
        margin-top: 7px;
    }

    .contacts-form {
        width: 100%;
        margin: auto;
    }

    .sponsors {
        flex-direction: row;
    }

    .sponsors .sponsors-item + .sponsors-item {
        margin-left: 85px;
        margin-top: 0;
    }

    .covered-content {
        top: 11px;
        left: 11px;
        width: 86%;
        height: 86%;
        padding: 10px;
    }

    .covered-content .name {
        font-size: 18px;
    }

    .covered-content .more {
        font-size:  8px;
    }    
}

@media (max-width: 411px) {
    .covered-content .name {
        font-size: 12px;
    }

    .covered-content .more {
        font-size:  6px;
    }  

    .covered-content {
        width: 83%;
        height: 83%;
    }

}

@media (max-width: 320px) {

    .guy-3 {
        display: none;
    }

    .sponsors {
        flex-direction: column;
    }

    .sponsors .sponsors-item + .sponsors-item {
        margin-left: 0;
        margin-top: 25px;
    }

    table .first {
        font-size: 18px;
    }

    table .second, .third, .fourth, .fifth {
        font-size: 10px;
    }

    .footer-info {
        font-size: 14px;
    }

    .covered-content {
        padding: 5px;
        
    }

    .covered-content .name {
        font-size: 8px;
    }

    .covered-content .more {
        font-size:  6px;
        display: block;
    }  

    .line {
        display: none;
    }

    .covered-content {
        width: 77%;
        height: 77%;
    }
}